{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content%}
    <form>
        <div class="mx-auto p-2" style="width: 200px;">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Matrícula</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div>
                <label for="inputPassword5" class="form-label">Senha</label>
                <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock">
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit">Entrar</button>
            </div>
        </div>
    </form>
{% endblock %}