{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block styles %}
    {{ super() }}
    <style>
        body {
            background: #f5f5f5;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 15px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-label {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-control {
            padding: 10px;
            width: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn {
            padding: 10px 15px;
            border: 0;
            border-radius: 4px;
            color: #fff;
            background-color: #007BFF;
            cursor: pointer;
        }

        .error-message {
            color: red;
            font-size: 0.875em;
            margin-top: 5px;
        }
        .form-check-label {
            display: flex;
            align-items: center;
        }

        .form-check-input {
            margin-right: 5px;
        }

    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Register</h2>
    <form method="POST" id="registerForm">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            {{ form.nome.label(class="form-label") }}
            {{ form.nome(id="nome", class="form-control") }}
            <div id="nomeError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            {{ form.matricula.label(class="form-label") }}
            {{ form.matricula(id="matricula", class="form-control") }}
            <div id="matriculaError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(id="email", class="form-control") }}
            <div id="emailError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            {{ form.senha.label(class="form-label") }}
            {{ form.senha(id="senha", class="form-control") }}
            <div id="senhaError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            <div class="form-check">
                <label for="professor" class="form-check-label">
                    {{ form.professor }}
                    {{ form.professor.label }}
                </label>
            </div>
        </div>
        <div class="form-group mb-3" id="professor_code_group" style="display: none;">
            {{ form.professor_code.label(class="form-label") }}
            {{ form.professor_code(id="professor_code", class="form-control") }}
            <div id="professorCodeError" class="text-danger"></div>
        </div>
        <div class="form-group mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

<script>
    // mostra o campo de digitar o codigo do professor caso o usuario seja professor
    document.getElementById('professor').addEventListener('change', function() {
        document.getElementById('professor_code_group').style.display = this.checked ? 'block' : 'none';
    });

    const registerForm = document.getElementById("registerForm");
    const nomeField = document.getElementById("nome");
    const nomeError = document.getElementById("nomeError");
    const matriculaField = document.getElementById("matricula");
    const matriculaError = document.getElementById("matriculaError");
    const emailField = document.getElementById("email");
    const emailError = document.getElementById("emailError");
    const senhaField = document.getElementById("senha");
    const senhaError = document.getElementById("senhaError");
    const professorCheckbox = document.getElementById("professor");
    const professorCodeField = document.getElementById("professor_code");
    const professorCodeError = document.getElementById("professorCodeError");

    const emailPattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;
    const matriculaPattern = /^\d+$/;

    registerForm.addEventListener('submit', function(event) {
        // reset errors
        nomeError.textContent = '';
        matriculaError.textContent = '';
        emailError.textContent = '';
        senhaError.textContent = '';
        professorCodeError.textContent = '';

        // validate nome field
        if (nomeField.value === '') {
            event.preventDefault();
            nomeError.textContent = 'Nome é obrigatório';
        }

        // validate matricula field
        if (matriculaField.value === '' || !matriculaPattern.test(matriculaField.value)) {
            event.preventDefault();
            matriculaError.textContent = 'Matricula deve conter somente digitos numéricos';
        }

        // validate email field
        if (emailField.value === '' || !emailPattern.test(emailField.value)) {
            event.preventDefault();
            emailError.textContent = 'Inserir endereço de e-mail válido';
        }

        // validate senha field
        if (senhaField.value.length < 6 || senhaField.value.length > 20) {
            event.preventDefault();
            senhaError.textContent = 'Senhas com no mínimo 6 caracteres e máximo 20';
        }

        // if professor is checked
        if (professorCheckbox.checked) {
            // validate professor_code
            if (professorCodeField.value !== "debugmode") {
                event.preventDefault();
                professorCodeError.textContent = "Invalid professor code.";
            }
        }
    });
</script>


{% endblock %}
